<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>

<session-factory>
<!-- Database connection settings -->
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/automobili</property>
<property name="connection.username">root</property>
<property name="connection.password">root</property>

<!-- JDBC connection pool (use the built-in) za vise niti ide 2,3,4-->
<property name="connection.pool_size">1</property>

<!-- SQL dialect MySQL ako oracle onda se menja-->
<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

<!-- Disable the second-level cache -->
<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

<!-- Echo all executed SQL to stdout, pokazuje u konzoli koju naredbu koristi, show_sql moze i false -->
<property name="show_sql">true</property>

<!-- Drop and re-create the database schema on startup, hbm2ddl.auto data definition language, alter delete i create -->
<property name="hbm2ddl.auto">create</property>

<!-- Names the annotated entity class, mapping, navodimo samo one klase koje hocemo, npr entity model.Marka-->
<mapping class="model.Marka"/>

</session-factory>

</hibernate-configuration>


